API_NODEJS_BUILD_NAME=eagle-api
API_NODEJS_DEPLOYMENT_NAME=eagle-api
API_MONGODB_DEPLOYMENT_NAME=eagle-api-mongodb
API_MINIO_DEPLOYMENT_NAME=eagle-api-minio
API_BC_NODEJS_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/bcgov/eagle-api/develop/openshift/templates/
API_DC_MINIO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/bcgov/eagle-api/develop/openshift/templates/
API_DC_NODEJS_AND_MONGO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/bcgov/eagle-api/develop/openshift/templates/