ADMIN_ANGULAR_BUILDER_BUILD_NAME=routes-as-settings-admin-angular-builder
ADMIN_NGINX_RUNTIME_BUILD_NAME=routes-as-settings-admin-nginx-runtime
ADMIN_ANGULAR_ON_NGINX_BUILD_NAME=routes-as-settings-admin
ADMIN_ANGULAR_ON_NGINX_DEPLOYMENT_NAME=routes-as-settings-admin
ADMIN_BC_ANGULAR_BUILDER_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-admin/routes-as-settings2/openshift/templates/angular-builder/
ADMIN_BC_NGINX_RUNTIME_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-admin/routes-as-settings2/openshift/templates/nginx-runtime/
ADMIN_BC_ANGULAR_ON_NGINX_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-admin/routes-as-settings2/openshift/templates/angular-on-nginx/
ADMIN_DC_ANGULAR_ON_NGINX_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-admin/routes-as-settings2/openshift/templates/angular-on-nginx/