PUBLIC_ANGULAR_BUILDER_BUILD_NAME=routes-as-settings-public-angular-builder
PUBLIC_NGINX_RUNTIME_BUILD_NAME=routes-as-settings-public-nginx-runtime
PUBLIC_ANGULAR_ON_NGINX_BUILD_NAME=routes-as-settings-public
PUBLIC_ANGULAR_ON_NGINX_DEPLOYMENT_NAME=routes-as-settings-public
PUBLIC_BC_ANGULAR_BUILDER_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-public/routes-as-settings2/openshift/templates/angular-builder/
PUBLIC_BC_NGINX_RUNTIME_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-public/routes-as-settings2/openshift/templates/nginx-runtime/
PUBLIC_BC_ANGULAR_ON_NGINX_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-public/routes-as-settings2/openshift/templates/angular-on-nginx/
PUBLIC_DC_ANGULAR_ON_NGINX_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/eagle-public/routes-as-settings2/openshift/templates/angular-on-nginx/