PUBLIC_ANGULAR_BUILDER_BUILD_NAME=eagle-public-angular-builder
PUBLIC_NGINX_RUNTIME_BUILD_NAME=eagle-public-nginx-runtime
PUBLIC_ANGULAR_ON_NGINX_BUILD_NAME=eagle-public
PUBLIC_ANGULAR_ON_NGINX_DEPLOYMENT_NAME=eagle-public
PUBLIC_BC_ANGULAR_BUILDER_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-public-repo/develop/openshift/templates/angular-builder/
PUBLIC_BC_ANGULAR_BUILDER_TEMPLATE_FILENAME=angular-builder.json
PUBLIC_BC_ANGULAR_BUILDER_PARAMS=public-1-angular-builder-bc.params
PUBLIC_BC_NGINX_RUNTIME_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-public-repo/develop/openshift/templates/nginx-runtime/
PUBLIC_BC_NGINX_RUNTIME_TEMPLATE_FILENAME=nginx-runtime.json
PUBLIC_BC_NGINX_RUNTIME_PARAMS=public-2-nginx-runtime-bc.params
PUBLIC_BC_ANGULAR_ON_NGINX_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-public-repo/develop/openshift/templates/angular-on-nginx/
PUBLIC_BC_ANGULAR_ON_NGINX_TEMPLATE_FILENAME=angular-on-nginx-build.json
PUBLIC_BC_ANGULAR_ON_NGINX_PARAMS=public-3-angular-on-nginx-bc.params
PUBLIC_DC_ANGULAR_ON_NGINX_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-public-repo/develop/openshift/templates/angular-on-nginx/
PUBLIC_DC_ANGULAR_ON_NGINX_TEMPLATE_FILENAME=angular-on-nginx-deploy.json
PUBLIC_DC_ANGULAR_ON_NGINX_PARAMS=public-4-angular-on-nginx-dc.params