API_NODEJS_BUILD_NAME=eagle-api
API_NODEJS_DEPLOYMENT_NAME=eagle-api
API_MONGODB_DEPLOYMENT_NAME=eagle-api-mongodb
API_MINIO_DEPLOYMENT_NAME=eagle-api-minio
API_BC_NODEJS_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-api-repo/develop/openshift/templates/
API_BC_NODEJS_TEMPLATE_FILENAME=eagle-api.bc.json
API_BC_NODEJS_PARAMS=api-1-nodejs-bc.params
API_DC_MINIO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-api-repo/develop/openshift/templates/
API_DC_MINIO_TEMPLATE_FILENAME=api-minio.dc.yaml
API_DC_MINIO_PARAMS=api-2-minio-dc.params
API_DC_NODEJS_AND_MONGO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/your-github-org/your-api-repo/develop/openshift/templates/
API_DC_NODEJS_AND_MONGO_TEMPLATE_FILENAME=eagle-api.dc.json
API_DC_NODEJS_AND_MONGO_PARAMS=api-3-nodejs-dc.params